.vscode
*.code-workspace

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

.env
.venv/

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.vscode/
.idea/

.DS_Store
Thumbs.db

alembic.ini
alembic/versions/__pycache__/
alembic/versions/

*.pid
*.log
tmp/
docker-compose.override.yml
